:root {
  /* color palette via https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
  --gold200: #FCDF83;
  --gold500: #F9BE11;
  --gold700: #F99F07;
  --red200: #FFAA8d;
  --red500: #FF5115;
  --red700: #EB440B;
  --red900: #C52D00;
  --orange200: #F8C68C;
  --orange500: #F48C2A;
  --orange700: #E97226;
  --yellow200: #F4F88C;
  --yellow500: #E8EB00;
  --yellow700: #F0C300;
  --green300: #8CF890;
  --green600: #37DD55;
  --green800: #00B241;
  --white100: #FFFFFF; /*100% Opacity*/
  --white60: #B1B1B5; /*60% Opacity*/
  --white12: #53535D; /*12% Opacity*/
  --black100: #000000; /*100% Opacity*/
  --black60: #666666; /*60% Opacity*/
  --black12: #E0E0E0; /*12% Opacity*/
  --darkgrey: #121212; /*00dp,0% white overlay*/
  /*dark grey elevation variants*/
  --dg01dp: #1E1E1E;/*5%*/
  --dg02dp: #222222;/*7%*/
  --dg03dp: #242424;/*8%*/
  --dg04dp: #272727;/*9%*/
  --dg06dp: #2C2C2C;/*11%*/
  --dg08dp: #2E2E2E;/*12%*/
  --dg12dp: #333333;/*14%*/
  --dg16dp: #343434;/*15%*/
  --dg24dp: #383838;/*16%*/
  /* light grey color palette */
  --lg50: #FAFAFA; /*50*/
  --lg100: #F5F5F5;/*100*/
  --lg200: #EEEEEE;/*200*/
  --lg300: #E0E0E0;/*300*/
  --lg400: #BDBDBD;/*400*/
  --lg500: #9E9E9E;/*500*/
  /* lg50-500 black text */
  /* lg600-900 white text */
  --lg600: #757575;/*600*/
  --lg700: #616161;/*700*/
  --lg800: #424242;/*800*/
  --lg900: #212121;/*900*/
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
}

.light-theme {
  --primary: var(--gold700);
  --secondary: var(--red900);
  --Background: var(--lg200);
  --goodResult: var(--green600); /*old: green*/
  --okResult: var(--yellow500); /*old: orange*/
  --badResult: var(--orange500); /*old: red*/
  --navBackground: var(--lg500);
  --navActive: var(--yellow700);
  --navActiveText: var(--white100);
  --navHover: var(--secondary);
  --text: var(--black100);
  --darkModeSlider: var(--secondary);
  --darkModeSliderBg: var(--dg16dp);
  --tableSurface: var(--lg200);
  --tableRowOdd: var(--lg300);
  --tableRowEven: var(--lg400);
  --tableHeaderBg: var(--navBackground);
  --tableHeaderText: var(--darkgrey);
  --tableDividers: var(--lg700);
  --textBoxBg: var(--lg100);
}

.dark-theme {
  --primary: var(--gold200);
  --secondary: var(--red200);
  --Background: var(--darkgrey);
  --goodResult: var(--green300); /*old: green*/
  --okResult: var(--yellow200); /*old: orange*/
  --badResult: var(--orange200); /*old: red*/
  --navBackground: var(--dg04dp);
  --navActive: var(--primary);
  --navActiveText: var(--black100);
  --navHover: var(--secondary);
  --text: var(--white100);
  --darkModeSlider: var(--dg16dp);
  --darkModeSliderBg: var(--secondary);
  --tableSurface: var(--dg02dp);
  --tableRowOdd: var(--dg03dp);
  --tableRowEven: var(--dg04dp);
  --tableHeaderBg: var(--navBackground);
  --tableHeaderText: var(--white60);
  --tableDividers: var(--white12);
  --textBoxBg: var(--dg24dp);
}

/* dark mode toggle switch stuff */
.theme-toggle-switch {
  height:47px;
  width: 55px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle-switch div {
  position: relative;
  display: block;
  background: var(--darkModeSlider);
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.flipped-icon {
  transform: scaleX(-1);
  background: transparent;
}

.theme-toggle-switch input {
  display: none;
}

.slider {
  background-color: var(--darkModeSliderBg);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(8px);
}
/* awesomplete CSS overrides for dark mode */
/* https://github.com/LeaVerou/awesomplete/blob/gh-pages/awesomplete.css */
.awesomplete > ul > li:hover {
  background: var(--navHover);
  color: var(--navActiveText);
}

.awesomplete > ul {
  background: var(--navBackground);
}

.awesomplete mark {
  background: var(--navHover);
}

.awesomplete li:hover mark {
  background: var(--navActive);
  color: var(--navActiveText);
}
/* floating footer fix https://stackoverflow.com/a/13883285 */
      html,
body {
  margin:0;
  padding:0;
  height:100%;
  font-family: Verdana, Geneva, sans-serif;
  background: var(--Background); /* light mode */
  color: var(--text); /* light mode */
}

#container {
   min-height:100%;
   position:relative;
}

section {
   padding-bottom:45px;   /* Height of the footer */
}
footer {
  position:fixed;
  bottom:0;
  left:0;
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:44px;   /* Height of the footer */
  background: var(--navBackground);
}
/* End floating footer fix */

p {
  display: block;
  text-align: center;
  margin: 0.5em 0 0;
}
  
img {
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0;
}

textarea, select, input {
  background: var(--textBoxBg);
}

#theme-toggle-icon {
  filter: drop-shadow(0 0 0.15rem var(--text));
}

/* Header CSS */
  ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid var(--tableDividers);
    background: var(--navBackground);
  }
  
  li.flat, li.dropdown {
    display: inline-block;
  }
  
  li.left {
    float: left;
  }
  
  li.right {
    float: right;
  }
  
  
  li.flat a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.flat a:hover:not(.active) {
    background-color: var(--navHover);
    color: var(--navActiveText)
  }
  
  .dropbtn {
    display: inline-block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--navBackground);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a.active, .dropdown .active, li.flat a.active {
    color: var(--navActiveText);
    background-color: var(--navActive);
    font-weight: bold;
  }
  
  .dropdown-content a:hover, .dropdown a:hover {
    background-color: var(--navHover);
    color: var(--navActiveText)
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  textarea {
    overflow-y: scroll;
  }

/* Special CSS for tiny mobile screens */
@media only screen and (max-width: 365px) {
  ul.header {
    font-size: 4vw;
  }
  li.flat a {
    padding: 7px 8px;
  }
  section {
    font-size: 80%;
  }
  table {
    width: 80%;
    font-size: 4vw;
  }
}

/* Table CSS for Rankings Pages */
/*https://www.w3schools.com/css/css_table.asp*/

#outTable, #inputTable, #tradeTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}
      
#outTable td, #outTable th {
  border: 1px solid var(--tableDividers);
  padding: 8px;
  text-align: center;
  line-height: 5px;
}

#tradeTable td, #tradeTable th {
  border: 1px solid var(--tableDividers);
  padding: 0px;
  text-align: center;
}

#inputTable td, #inputTable th {
  line-height: 11px;
}

#inputTable li {
  line-height: normal;
}

#outTable tr:nth-child(even), #tradeTable tr:nth-child(even) {background-color: var(--tableRowEven);}
#outTable tr:nth-child(odd), #tradeTable tr:nth-child(odd) {background-color: var(--tableRowOdd);}
#outTable tr:hover, #tradeTable tr:hover {background-color: var(--navHover);}

#outTable th, #tradeTable th {
  line-height: 15px;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: var(--tableHeaderBg);
  color: var(--tableHeaderText);
}

textarea {
  background: var(--textBoxBg);
}

section {text-align: center;}
h3 {line-height: 22px;}
